body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato";
  font-weight: 300;
  font-size: 24px;
  background: #2b2b2b;
  color: #fff;
}

h2 {
  display: block;
  color: white;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.intro-page {
  margin: 1em;
}

.intro-page__input-div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
}

#grid-size,
#enter-game {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.mosaic-loader {
  --cell-spacing: 1px;
  --border-width: 1px;
  display: flex;
  flex-wrap: wrap;
}
.mosaic-loader > .cell {
  color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  animation: var(--animation-time) ripple ease infinite;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #fff;
}

.card__face--back {
  background: teal;
  transform: rotateY(180deg);
  border: 1px solid black;
}

.toast-success {
  background: #fff;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #2b2b2b;
  border-radius: 20px;
}

.scoring-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.score {
  color: yellowgreen;
}

.score-attempt {
  color: rgb(221, 83, 83);
}

input {
  color: white;
  background: #353333;
  border: 1px solid gray;
}

button {
  color: white;
  background: #353333;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0px 0px 16px 6px rgb(255 255 255 / 20%);
  margin: 1rem 0;
}

.image-container {
  box-shadow: 0px 0px 16px 6px rgb(255 255 255 / 20%);
  justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .intro-page__input-div {
    flex-direction: column;
  }
  .scoring-container {
    flex-direction: column;
  }
}
